<div class="stock-container">
  <div class="top-section">
    <label for="stock-select">Stocks:</label>
    <select id="stock-select" [(ngModel)]="selectedStockTick" (ngModelChange)="onStockSelected()">
      <option *ngFor="let stock of stocks" [ngValue]="stock.tick">{{ stock.tick }} - {{ stock.company }} </option>

    </select>
  </div>

  <div *ngIf="selectedStockDetail">
    <div class="panel resumo-panel">
      <h2>Resumo</h2>
      <div class="resumo-content">
        <div class="resumo-column">
          <div>
            <label>Quantidade de Ações:</label>
            <span>{{ selectedStockDetail.resume.stockCount }}</span>
          </div>
          <div>
            <label>Total investido:</label>
            <span>{{ selectedStockDetail.resume.totalInvested | currency:'BRL' }}</span>
          </div>
          <div>
            <label>Valor médio:</label>
            <span>{{ selectedStockDetail.resume.averagePrice | currency:'BRL' }}</span>
          </div>
        </div>
        <div class="resumo-column">
          <div>
            <label>Valor total de proventos:</label>
            <span>{{ selectedStockDetail.resume.totalProvents | currency:'BRL' }}</span>
          </div>
          <div>
            <label>Proventos dos ultimos 12 meses:</label>
            <span>{{ selectedStockDetail.resume.totalProventsLast12Months | currency:'BRL' }}</span>
          </div>
          <div>
            <label>Media dos ultimos 4 meses:</label>
            <span>{{ (selectedStockDetail.resume.averageProventsLast4Months || 0) | currency:'BRL' }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-section">
      <div class="panel transactions-panel">
        <h2>Transactions</h2>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Data</th>
              <th>Mov.</th>
              <th>Qtd</th>
              <th>Preço Unit.</th>
              <th>Preço Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of selectedStockDetail.transactions">
              <td>{{ transaction.id }}</td>
              <td>{{ transaction.date | date:'dd/MM/yyyy' }}</td>
              <td>{{ transaction.movimentacao }}</td>
              <td>{{ transaction.quantity }}</td>
              <td>{{ transaction.untPrice }}</td>
              <td>{{ transaction.totalPrice }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="panel provents-panel">
        <h2>Provents</h2>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Data</th>
              <th>Quantidade</th>
              <th>Valor Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let provent of selectedStockDetail.provents">
              <td>{{ provent.id }}</td>
              <td>{{ provent.date | date:'dd/MM/yyyy' }}</td>
              <td>{{ provent.quantity }}</td>
              <td>{{ provent.valueTotal | currency:'BRL' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>